# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/storage/*
/vendor/bundle

# Ignore master key (if you're not sharing it)
/config/master.key

# Ignore dotenv files
.env*
